<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad1">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/alto"
        android:label="@string/app_name"
        android:roundIcon="@drawable/i20"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mad1">

        <activity
            android:name=".feedback"
            android:exported="false" />
        <activity
            android:name=".allbooks"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".confirm"
            android:exported="false" />
        <activity
            android:name=".summary"
            android:exported="false" />
        <activity
            android:name=".Booking"
            android:exported="false" />
        <activity
            android:name=".Cars"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            />
    </application>

</manifest>